appdirs==1.4.3
boto==2.48.0
boto3==1.4.6
botocore==1.6.3
click==6.7
Django==1.10.5
django-lockdown==1.4.2
django-mako-plus==4.4.3
django-polymorphic==1.1
django-storages==1.6.5
docutils==0.14
jmespath==0.9.3
ldap3==2.2.2
Mako==1.0.6
MarkupSafe==0.23
olefile==0.44
packaging==16.8
Pillow==4.2.0
plivo==0.11.3
psycopg2==2.6.2
pyasn1==0.2.3
pycurl==7.43.0
pyparsing==2.2.0
python-dateutil==2.6.1
python-dotenv==0.6.5
pytz==2017.2
rcssmin==1.0.6
requests==2.13.0
rjsmin==1.0.12
s3transfer==0.1.10
six==1.10.0
stripe==1.50.0
Werkzeug==0.12.2
whitenoise==3.3.0
