## this is the skeleton of all pages on in this app - it defines the basic html tags
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
      <script type="text/javascript" src="http://public.tableau.com/javascripts/api/tableau-2.0.0.min.js"></script>
      <script type="text/javascript">
        var workbook, activeSheet, viz, dashboard;

      function initViz() {

            var containerDiv = document.getElementById("tableauviz"),
            url = "https://public.tableau.com/views/TwitWitTableau/TwitWitDashboard?:embed=y&:display_count=yes&publish=yes";


            var options = {
            width: 1100,
            height: 700,
            hideTabs: true,
            hideToolbar: true,
            onFirstInteractive: function () {
              workbook = viz.getWorkbook();
              activeSheet = workbook.getActiveSheet();
              listenToMarksSelection();
          }}

            viz = new tableau.Viz(containerDiv, url, options);
      };

      function clearFilters() {
        activeSheet.getWorksheets().get("Retweet By Reshare").applyFilterAsync(
            "Country",
            "",
            tableau.FilterUpdateType.ALL);
        activeSheet.getWorksheets().get("Retweet By Weekday").applyFilterAsync(
            "Country",
            "",
            tableau.FilterUpdateType.ALL);
        activeSheet.getWorksheets().get("Retweet By Hour").applyFilterAsync(
            "Country",
            "",
            tableau.FilterUpdateType.ALL);
      }

      function filterUS() {
        activeSheet.getWorksheets().get("Retweet By Reshare").applyFilterAsync(
            "Country",
            "United States",
            tableau.FilterUpdateType.REPLACE);
        activeSheet.getWorksheets().get("Retweet By Weekday").applyFilterAsync(
            "Country",
            "United States",
            tableau.FilterUpdateType.REPLACE);
        activeSheet.getWorksheets().get("Retweet By Hour").applyFilterAsync(
            "Country",
            "United States",
            tableau.FilterUpdateType.REPLACE);

      }

      function filterother() {
        clearFilters();
        activeSheet.getWorksheets().get("Retweet By Reshare").applyFilterAsync(
            "Country",
            "United States",
            tableau.FilterUpdateType.REMOVE);
        activeSheet.getWorksheets().get("Retweet By Weekday").applyFilterAsync(
            "Country",
            "United States",
            tableau.FilterUpdateType.REMOVE);
        activeSheet.getWorksheets().get("Retweet By Hour").applyFilterAsync(
            "Country",
            "United States",
            tableau.FilterUpdateType.REMOVE);

      }

      </script>

        <title>TwitWit&reg; | Smart Twitter Scheduler</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        ## add any site-wide scripts or CSS here; for example, jquery:
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


        ## render the static file links with the same name as this template
        <script src="/django_mako_plus/dmp-common.min.js"></script>
        ${ django_mako_plus.links(self) }

        <link rel="icon" type="image/png" sizes="32x32"href="${ STATIC_URL }homepage/media/twitwitlogo-02.png">

    </head>
    <%block name="bodyTag"><body></%block>

        <header>
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="box-shadow:none;">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="index">
                    <img src="${ STATIC_URL }homepage/media/twitwitlogo-02.png" width="30" height="30" class="" alt="">
                    TwitWit&reg; <span style="font-size: 60%; font-family:sans-serif;">by XLR8 Development</span>
                </a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="index">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="team">Our Team</a>
                    <a class="nav-item nav-link" href="data">The Data</a>
                  </div>
                </div>
              </nav>
        </header>

        <main>
            <%block name="content">

            </%block>
        </main>

        <!-- <footer>
          <div class="text-center" style="font-size:80%; position: fixed; bottom: 30px; width: 100%">
            TwitWit&reg; is proudly powered by <a href="https://www.xlr8dev.com">XLR8 Development</a>
          </div>
        </footer> -->
        <!-- <script src="http://code.jquery.com/jquery-1.11.1.js"></script> -->

        <script src="${ STATIC_URL }homepage/media/jquery.loadmodal.js"></script>
        <script src="${ STATIC_URL }homepage/media/jquery.form.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

        <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </body>
</html>
