<%inherit file="base_ajax.htm" />

<%block name="content">
    <div class="text-center results">
      Your ideal tweet time is:
      <br />
      <div class="result_time">
        <strong>${ result_time }</strong>
      </div>
      <div class="result_date">
        ${ result_date }
      </div>
    </div>

    <br />
    <br />

    <div class="text-center">
      <h4> Full Results </h4>
      <br />
      <table class="table">
        <tr>
          <th>Time</th>
          <th>MON</th>
          <th>TUE</th>
          <th>WED</th>
          <th>THU</th>
          <th>FRI</th>
          <th>SAT</th>
          <th>SUN</th>
        </tr>
        %for time in full_results:
          <tr>
            <td>${time.hour}</td>
            <td>${time.mon}</td>
            <td>${time.tue}</td>
            <td>${time.wed}</td>
            <td>${time.thu}</td>
            <td>${time.fri}</td>
            <td>${time.sat}</td>
            <td>${time.sun}</td>
          </tr>
        %endfor

      </table>
    </div>


</%block>
