<%inherit file="base.htm" />

<%block name="maincontent">
    <div class="container">
        <div class="row" style="height:50px;"></div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <h1 class="d-flex justify-content-center">Welcome to TwitWit&reg;</h1>
                <h5 class="d-flex justify-content-center">The Most Intelligent Twitter Scheduler. Ever.</h5>
                <br />
                <br />
                <p id="charNum"></p>
                <span class="inputText">
                    ${ form }
                </span>
                <br />
                <br />
                <div id="ajax_test">
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</%block>
