<%inherit file="base.htm" />

<%block name="content">
    <div class="container">
        <div class="row" style="height:50px;"></div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <h1 class="d-flex justify-content-center">Welcome to TwitWit&reg;</h1>
                <h5 class="d-flex justify-content-center">The Most Intelligent Twitter Scheduler. Ever.</h5>

                <span class="inputText">
                    ${ form }
                </span>
                <h6>Load AJAX here</h6>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</%block>
