<%inherit file="base.htm" />

<%block name="content">
    <div class="container">
        <div class="row" style="height:50px;"></div>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <h1 class="d-flex justify-content-center">Meet our Team</h1>
                <br />
                <br />
                <div class="card-deck text-center">
                  <div class="card">
                    <img class="card-img-top" src="https://scontent-ort2-2.xx.fbcdn.net/v/t31.0-8/12374760_10203995707412584_1631202693972592977_o.jpg?oh=4b67ec2a1d9d03bb4ac9364ead7b1bdc&oe=5AD0A746" alt="Klynt Yardley">
                    <div class="card-body">
                      <h4 class="card-title">Klynt Yardley</h4>
                      <p class="card-text">??</p>
                      <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" src="https://scontent-ort2-2.xx.fbcdn.net/v/t31.0-8/12371259_1244470272233371_8310221271863961414_o.jpg?oh=e85def449f61c43cb238f74d4efdf4c9&oe=5A892525" alt="Matthew Christensen">
                    <div class="card-body">
                      <h4 class="card-title">Matthew Christensen</h4>
                      <p class="card-text">CTO at XLR8 Development<br />Master of Information Systems Management student at Brigham Young University<br/>Supporter of #NetNeutrality</p>
                      <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" src="http://jclapier.com/Clapier_Jess_Headshot_LowRes.jpg" alt="Jessee Clapier">
                    <div class="card-body">
                      <h4 class="card-title">Jessee Clapier</h4>
                      <p class="card-text">CIO at XLR8 Development<br />Bachelor of Information Systems Management student at Brigham Young University<br />Supporter of #MeToo #BlackLivesMatter #LoveWins</p>
                      <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" src="https://pbs.twimg.com/profile_images/929841119482884096/OXp0Radk_400x400.jpg" alt="Jaden Feddock">
                    <div class="card-body">
                      <h4 class="card-title">Jaden Feddock</h4>
                      <p class="card-text">CEO at XLR8 Development<br />Future Accenture Technology Consultant<br />Always up for a good conversation about tech ;)</p>
                      <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
</%block>
